{{> header }}
<div class="container">
    <h1 class="title">¡Has perdido la partida!</h1>
    <p>Ya has reportado una pregunta en esta partida. Para seguir jugando, inicia una nueva partida.</p>
    <p class="options-form">
        <a href="../index.php?controller=game&method=startGame" class="btn">Nueva partida</a>
        <a href="../index.php?controller=home&method=displayHome" class="btn">Volver al Home</a>
    </p>
</div>
{{> footer }}
