{{> header }}
    <div class="container">
        <h1 class="title">Error</h1>
        <p>Se detectó que se está intentando responder una pregunta diferente.</p>
        <p class="form-footer">
            <a href="/playerhome/displayHome" class="btn">Volver al Home</a>
        </p>
    </div>
{{> footer }}