{{> header }}
<div class="profile-container">

    <div class="profile-card">
        <div class="profile-header">
            <div class="profile-image">
                {{#foto_perfil}}
                    <img src="{{foto_perfil}}" alt="{{foto_perfil}}">
                {{/foto_perfil}}
                {{^foto_perfil}}
                    <div class="default-avatar">{{inicial}}</div>
                {{/foto_perfil}}

            </div>

            <div class="profile-info">
                <h2 class="username">{{nombre_usuario}}</h2>
                <p class="user-details">{{ciudad}} • {{puntos_totales}} pts</p>
            </div>

            <div class="profile-qr">
                <img src="{{qr_base64}}" alt="Código QR de ejemplo">
                <p class="qr-text">Escaneá para ver mi perfil</p>
            </div>
        </div>
    </div>

    <div class="history-card">
        <h3>Partidas recientes</h3>

        {{#partidas}}
            <div class="match">
                <div class="player {{#es_ganador_j1}}winner{{/es_ganador_j1}}">
                    <div class="player-image">{{jugador1_iniciales}}</div>
                    <div class="player-name">{{jugador1}}</div>
                </div>

                <div class="match-icon">🏆</div>

                <div class="player {{#es_ganador_j2}}winner{{/es_ganador_j2}}">
                    <div class="player-image">{{jugador2_iniciales}}</div>
                    <div class="player-name">{{jugador2}}</div>
                </div>
            </div>
        {{/partidas}}

        {{^partidas}}
            <p>No se encontraron partidas recientes.</p>
        {{/partidas}}
    </div>



    <a href="/index.php?controller=home&method=displayHome" class="btn">⬅ Volver al inicio</a>
</div>

{{> footer }}