{{> header }}

<div class="game-container">
    <h2 class="title">Sugerir una Pregunta</h2>

    <form class="register-form" action="/suggestedquestions/suggestQuestion" method="post">
        <div class="form-group">
            <label for="question">Enunciado</label>
            <input type="text" id="question" name="question" required>
        </div>

        <select name="categoryId" id="categoryId">
            {{#categories}}
                <option value="{{id}}">{{nombre}}</option>
            {{/categories}}
        </select>

        <div class="form-grid">
            <div class="form-group">
                <label for="option_a">Opción A</label>
                <input type="text" id="option_a" name="option_a" required>
            </div>
            <div class="form-group">
                <label for="option_b">Opción B</label>
                <input type="text" id="option_b" name="option_b" required>
            </div>
            <div class="form-group">
                <label for="option_c">Opción C</label>
                <input type="text" id="option_c" name="option_c" required>
            </div>
            <div class="form-group">
                <label for="option_d">Opción D</label>
                <input type="text" id="option_d" name="option_d" required>
            </div>
        </div>

        <div class="form-group">
            <label for="correct_answer">Respuesta Correcta</label>
            <select id="correct_answer" name="correct_answer" required>
                <option value="">Selecciona la opción correcta</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>

        <button type="submit" class="btn">Enviar Sugerencia</button>
    </form>
</div>

{{> footer }}
