{{> header }}
<div class="container">
    <h1 class="title">¡Ganaste la partida!</h1>
    <p>¡Felicitaciones, vuelve a jugar!</p>
    <p class="form-footer">
        <a href="../index.php?controller=home&method=displayHome" class="btn">Volver al Home</a>
    </p>
</div>
{{> footer }}