{{> header }}
    <div class="container">
        <h1 class="title">Error</h1>
        <p>Respuesta Incorrecta. Perdiste la partida.</p>
        <p class="form-footer">
            <a href="../index.php?controller=home&method=displayHome" class="btn">Volver al Home</a>
        </p>
    </div>
{{> footer }}