<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío UNLaM</title>
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/forms.css">
    <link rel="stylesheet" href="../../public/css/buttons.css">
    <link rel="stylesheet" href="../../public/css/responsive.css">
    <link rel="stylesheet" href="../../public/css/map.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/game.css">
    <link rel="stylesheet" href="../../public/css/wrong.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="../../public/css/profile.css">
    <link rel="stylesheet" href="../../public/css/reportquestion.css">
    <link rel="stylesheet" href="../../public/css/editor.css">

</head>
<body>
<header class="main-header">
    <h1 class="logo">Panel del Editor · Desafío UNLaM</h1>
    <nav class="nav-links">
        <a href="?controller=editor&method=displayEditorHome">Reportes y Métricas</a>
        <a href="?controller=question&method=manageQuestions">Preguntas</a>
        <a href="?controller=login&method=logout">Cerrar sesión</a>
    </nav>
</header>
