{{> header }}
    <div class="container">
        <h1 class="title">Error en la verificación</h1>
        <p>El enlace no es válido o ya fue utilizado. Si el problema persiste, intenta registrarte nuevamente.</p>
        <p class="form-footer">
            <a href="/registration/registerForm" class="btn">Volver al registro</a>
        </p>
    </div>
{{> footer }}