{{> header }}
    <div class="container">
        <h1 class="title">¡Cuenta verificada!</h1>
        <p>Tu cuenta fue verificada correctamente. Ya podés iniciar sesión y comenzar a jugar.</p>
        <p class="form-group">
            <a href="../../index.php?controller=login&method=loginForm" class="btn">Iniciar sesión</a>
        </p>
    </div>
{{> footer }}
